# Rockchip idblock + SPL (MiniLoaderAll). Not listed in GPT.
# holes: allow GPT/MBR metadata at the start of the disk image.
partition loader {
	size = 8M
	in-partition-table = "no"
	offset = 0
	image = "MiniLoaderAll.bin"
	holes = {"(0; 17k)"}
}
