# Section titles become GPT PARTLABELs (genimage has no partition-name option).

partition uboot {
	offset = 8M
	size = 4M
	image = "uboot.img"
}

partition misc {
	offset = 12M
	size = 4M
	image = "misc.img"
}

partition boot_a {
	offset = 16M
	size = 64M
	image = "boot.fit"
}

partition boot_b {
	offset = 80M
	size = 128M
}

partition backup {
	offset = 208M
	size = 32M
}

partition system_a {
	offset = 240M
	size = ${SYSTEM_PART_SIZE}
	image = "rootfs.ext4"
}

partition system_b {
	offset = ${SYSTEM_B_OFFSET}
	size = ${SYSTEM_PART_SIZE}
}

partition oem {
	offset = ${OEM_OFFSET}
	size = 128M
	image = "oem.img"
}

partition userdata {
	offset = ${USERDATA_OFFSET}
	size = ${USERDATA_PART_SIZE}
	image = "data.ext4"
}
