[Unit]
Description=NetworkManager persistent system connections
Requires=mnt-overlay.mount
After=mnt-overlay.mount mcos-overlay.service
Before=NetworkManager.service mcos-config.service

[Mount]
What=/mnt/overlay/etc/NetworkManager/system-connections
Where=/etc/NetworkManager/system-connections
Type=None
Options=bind

[Install]
WantedBy=mcos-bind.target
