[Unit]
Description=MCOS persists data on bootstate 
After=sysinit.target
RefuseManualStart=true
RefuseManualStop=true

[Service]
Type=oneshot
ExecStart=/usr/libexec/mcos-persists
RemainAfterExit=true

[Install]
WantedBy=multi-user.target
