[Unit]
Description=Muthur Command OS data partition migration
DefaultDependencies=no
RefuseManualStart=true
RefuseManualStop=true
Requires=mnt-overlay.mount dev-disk-by\x2dlabel-mcos\x2ddata.device
Wants=mcos-expand.service
After=mnt-overlay.mount dev-disk-by\x2dlabel-mcos\x2ddata.device systemd-fsck@dev-disk-by\x2dlabel-mcos\x2ddata.service dev-disk-by\x2dpartlabel-mcos\x2ddata\x2dexternal.device
Before=mcos-expand.service
ConditionPathExists=/mnt/overlay/move-data

[Service]
Type=oneshot
ExecStartPre=-/usr/bin/rm -f /mnt/overlay/move-data
ExecStart=/usr/libexec/mcos-data

[Install]
WantedBy=local-fs.target
