[Unit]
Description=MCOS boot partition
DefaultDependencies=no
Before=umount.target local-fs.target
After=systemd-fsck@dev-disk-by\x2dlabel-mcos\x2dboot.service
Wants=systemd-fsck@dev-disk-by\x2dlabel-mcos\x2dboot.service
Conflicts=umount.target

[Mount]
What=/dev/disk/by-label/mcos-boot
Where=/mnt/boot
Type=auto
Options=sync

[Install]
WantedBy=local-fs.target
